

a{
    text-decoration: none;
    color:#343a40;    

    &.active{
        color: orange;
    }
}

.logo{
    &:focus {
        outline: none;
    }
}

.logo_text{
    font-size: 20px;
    margin-left: 10px;
}