
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white 
        justify-content-between
        border-bottom shadow-sm
        ">
        <div class="container d-flex flex-column flex-md-row align-items-center bg-white 
        justify-content-between">
            <div class="d-flex flex-column flex-md-row">
                <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/" class="logo">
                <div class="logo_text" style="font-size: 20px;" >Система учета <br> времени</div>
            </div>
        <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: large;">
        <!--<a class="p-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="p-2" routerLink="/shop" routerLinkActive="active" >Shop</a>
        <a class="p-2" routerLink="/test-error" routerLinkActive="active" >Test</a>
        <a class="p-2" href="#">Contsct</a>
        -->
        <a class="p-2" [routerLink]="['/']" routerLinkActive="active">Главная</a>
        <a class="p-2" routerLink="/account">Учет</a>
        <a class="p-2" routerLink="/session">История</a>
        </nav>
        </div>
        
    </div>
