<div class="d-flex justify-content-center mt-5"> 
    <div class="col-3">    
        <div class="d-flex justify-content-center mb-2" style="font-size: 25px;">
            Вход
        </div>
        <form [formGroup]="loginFrom" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <select formControlName="companyId" class="form-control" aria-label="Default select example" placeholder="Email" >
                <option  *ngFor="let item of companies" [value]="item.id">
                    {{item.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <input formControlName="email" type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group d-flex justify-content-center">
            <button class="btn btn-secondary w-100">Войти</button>
        </div>
    </form>
    </div>
  </div>