<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table width="100%">
                    <tr>
                        <td>Компания</td>
                        <td width="100%" style="padding-left: 20px;">                    
                            <select class="form-control" name="company" [(ngModel)]="sessionParams.companyId"   (change)="getValues()">
                                <option selected="selected" value="0"> - Не выбрано - </option>
                                <option  *ngFor="let item of companies" [value]="item.id">
                                {{item.name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Компания</td>
                        <td style="padding-left: 20px;">                    
                            <select class="form-control" name="account" [(ngModel)]="sessionParams.accountId"  (change)="getValues()">
                                <option selected="selected"> - Не выбрано- </option>
                                <option  *ngFor="let item of accounts" [value]="item.id">
                                {{item.fullname}}
                                </option>
                            </select>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">            
            <div class="card-body">
                <table width="100%">
                    <tr style="height: 40px;"> 
                        <td>Показывать завершенные</td>
                        <td >   
                            <input type="checkbox" [(ngModel)]="sessionParams.isVisibleFinish" (change)="getValues()">   
                        </td>
                    </tr>
                    <tr style="height: 40px;"> 
                        <td>Показывать не завершенные </td>
                        <td >     
                            <input type="checkbox" [(ngModel)]="sessionParams.isVisibleNotFinish" (change)="getValues()">   
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<div  style="padding-top: 20px;">
<table width="100%" class="table table-striped">
    <thead class="thead-light">
        <th scope="col"(click)="sortValues('Id')" style="cursor: pointer;">№</th>
        <th scope="col"(click)="sortValues('CompanyName')" style="cursor: pointer;">Компания</th>
        <th scope="col"(click)="sortValues('StaffFullname')" style="cursor: pointer;">Сотрудник</th>
        <th scope="col"(click)="sortValues('SessionStart')" style="cursor: pointer;">Начало</th>
        <th scope="col"(click)="sortValues('SessionEnd')" style="cursor: pointer;">Окончание</th>
        <th scope="col"(click)="sortValues('SessionEnd')" style="cursor: pointer;">Продолжительность</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of sessions">
        <td>{{item.id}}</td>
        <td>{{item.companyName}}</td>
        <td>{{item.staffFullname}}</td>
        <td>{{item.sessionStart | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td>{{item.sessionEnd | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td>{{item.sessionDuration}}</td>
    </tr>
</tbody>
</table>
<div class="d-flex  justify-content-center">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="this.totalCount"
        (pageChanged) = "onPageChanged($event)"
        [itemsPerPage]="this.sessionParams.pageSize"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>

</div>
