
<div class="container d-flex justify-content-center" style="margin-top: 100px; " >
    <div style="width: 400px; " class="d-flex justify-content-center">    
        <button class="btn btn-secondary" routerLink="/account/login" style="width: 150px;" >Вход</button>
        <button class="btn btn-info ml-3" routerLink="/account/logout"   style="width: 150px;">Выход</button>
    </div>
    
</div>
