
<div class="container d-flex justify-content-center" style="margin-top: 100px; " >
    <div style="width: 400px; " class="d-flex justify-content-center flex-column">    
        <button class="btn btn-secondary m-1" routerLink="/report/reportfull" >Очет детализированный</button>
        <button class="btn btn-secondary m-1" routerLink="/report/reportgroup" >Отчет с группировкой по месяцам</button>
    </div>
    
</div>