<div class="container" style="margin-top: 150px;" class="d-flex justify-content-center"> 
  <div style="width: 400px; align-items: center; ">     
    <div class="form-group">
        <select class="form-control" name="company" [(ngModel)]="companyId" aria-label="Default select example" placeholder="Email" >
            <option  *ngFor="let item of companies" [value]="item.id">
              {{item.name}}
            </option>
        </select>
    </div>
    <div class="form-group">
      <input class="form-control" name="title" [(ngModel)]="staffEmail" placeholder="Email" />
    </div>
    <div class="form-group d-flex justify-content-between">
        <button class="btn btn-secondary" (click)="postLogin()">Войти</button>
        <button class="btn btn-info" (click)="postLogout()">Выйти</button>
    </div>
  </div>
</div>