<div class="row d-flex  justify-content-center">
    <h3>Отчет с групировкой по месяцам</h3>
    
</div>
<div  style="padding-top: 20px;">
<table width="100%" class="table table-striped">
    <thead class="thead-light">
        <th scope="col">Дата</th>
        <th scope="col">Компания</th>
        <th scope="col">Сотрудник</th>
        <th scope="col">Продолжительность(мин)</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of data">
        <td>{{item.groupDate}}</td>
        <td>{{item.companyName}}</td>
        <td>{{item.staffFullname}}</td>
        <td>{{item.sessionDuration}}</td>
    </tr>
</tbody>
</table>
<div class="d-flex  justify-content-center">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="this.totalCount"
        (pageChanged) = "onPageChanged($event)"
        [itemsPerPage]="this.sessionParams.pageSize"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>

</div>
